.carousel {
    position: relative;
    width: 100%;
    max-width: 600px; /* Налаштуйте розміри відповідно до вашого дизайну */
    margin: 0 auto;
}

.container {
    display: flex;
    overflow: hidden;
}

.slide {
    flex: 0 0 auto;
    transition: transform 0.5s ease;
    z-index: 1;
}

.slide.active {
    transform: translateX(0) scale(1.5);
    z-index: 99;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}
